<a href="https://colab.research.google.com/github/Shubham-Pundir-001/structure/blob/main/data__structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

qes.1 write a code to reverse a string?

In [ ]:
str1="i am doing a course of datanalytics from pwskills"

In [ ]:
str1[::-1]

'sllikswp morf scitylanatad fo esruoc a gniod ma i'

2.write a code to count the number of vowel in string.

In [ ]:
str2="he is playing cricket in the playground"00

In [ ]:
vowel="aeiouAEIOU"
count=0
for i in str2:
 if i in vowel :
     count+=1

print("the numbher of vowels:" ,count)

the numbher of vowels: 11

3.write a code to check if a given string is pallndrome or not.

In [ ]:
str3="nitin"

In [ ]:

str3.replace(" ","").lower()
if str3==str3[::-1]:
   print("string is pallndorme")
else:
  print("string is not pallndorme")

string is pallndorme

4. write a code to check if two  given string are anagrams of  each other.

In [ ]:
from collections import Counter
str5="Shubham"
str6="Hubhams"

str5=str5.replace(" ","").lower()
str6=str6.replace(" ","").lower()
if Counter(str5)==Counter(str6):
  print(f"{str5} and {str6} are anagrams")
else:
  print("strng are not anagrams")

shubham and hubhams are anagrams

In [ ]:
##5. wtite a code to find all occurence of a given substring with another string

In [ ]:
str1=("he is my friends who belong to delhi").replace(" ","")
sub_str2=("is my friends").replace(" ","")
sub_str2

'ismyfriends'

In [ ]:
count=0

for i in sub_str2:
  if i in str1:
    count+=1
print(count)

11

In [ ]:
##6.write a code to perform basis string compression using the counts of repeated characters.
str1="aaabbbcccddd"
count=1
for i in range(1,len(str1)):
  if str1[i]==str1[i-1]:
    count+=1
  else:
    print(f"{str1[i-1]}{count}", end="")
    count=1
print(f"{str1[i-1]}{count}",end="")

a3b3c3d3

In [ ]:
##7.write a code to determine if  string has all unique character.
str1="abcdefgabcedgh"
if not callable(set):
    del set
seen=set()
for i in str1:
  if i in seen:
    pass
  seen.add(i)
print(seen)

{'g', 'f', 'a', 'e', 'h', 'c', 'd', 'b'}

In [ ]:
str1="a,b,c,d,e"

In [ ]:
for i in str:
  if i in str;

string is not unique

In [ ]:
## 8.write a code to convert the  given string in upper and lowecase
str="he is form Delhi"
str.upper()

'HE IS FORM DELHI'

In [ ]:
str.lower()

'he is form delhi'

In [ ]:
##9.write a code to count the number of words in string
str1="ram and "
str1=str1.split()
len(str1)

2

In [ ]:
##10 write a code to concatenate two string without using the +operator
str1="my name is shubham"
str2="my name is abhishek"
print(f"{str1} {str2}")

my name is shubham my name is abhishek

In [ ]:
##11.write a code to remove all occurence of a specific element from list.
lis=[2,7,3,1,7,3]
element=7
occurence=2

In [ ]:
def remove_occurence(my_list,element):
  while element in my_list:
    my_list.remove(element)
  return my_list

In [ ]:
remove_occurence(my_list=[1,2,3,4,2,5,2],element=2)

[1, 3, 4, 5]

In [ ]:
##12.implement a code to find the second largest number in a given list of integers.
nums=[500,100,150,1000,1500,1600]
largest = second_largest = float('-inf')
for num in nums:
        if num > largest:
          second_largest = largest
          largest = num
        elif num > second_largest and num < largest:
            second_largest = num
print(second_largest)

1500

[50, 100, 150, 100, 1500, 1600]

In [ ]:
##13.create a code to count the occurence of each element in a list and return dictionary with element as key and their counts as value.

In [ ]:
def count_element(lis):
  dict1={}
  for i in lis:
    if i in  dict1:
      dict1[i]+=1
    else:
      dict1[i]=1
  return dict1

In [ ]:
count_element(lis=[1,2,3,4,5,1,2,3,4,5,5,5])

{1: 2, 2: 2, 3: 2, 4: 2, 5: 4}

In [ ]:
## 14.write a code to reverse a list in-place without using  any built-in reverse function.
lis=[1,2,3,"ajay","gupta","abhishek",'ram',10,11,12]
n=len(lis)
for i in range(len(lis)//2):
  lis[i],lis[n-i-1]=lis[n-i-1],lis[i]
print(lis)

[12, 11, 10, 'ram', 'abhishek', 'gupta', 'ajay', 3, 2, 1]

In [ ]:
##15.implement a code to find and remove duplicate while preserving the original order of elements
lis=["apple","banana","apple","banana","mango","mango"]
new_list=[]
for i in lis:
  if i not in new_list:
    new_list.append(i)
new_list

['apple', 'banana', 'mango']

In [ ]:
##16.create code to check given list is sorted (either in ascending or descending order) or not
def is_sorted(lis):
  if all(lis[i]<lis[i+1] for i in range(len(lis)-1)):
    return  "ascending"
  elif all([lis[i]>lis[i+1] for i in range(len(lis)-1)]):
    return  "descending"
  else:
    return  "not_sorted"

In [ ]:
is_sorted(lis=[15,11,10,9,8,5])

'descending'

In [ ]:
def merge_sorted_list(lis1,lis2):
  i,j=0,0
  merge_list=[]
  while i<len(lis1)and j< len(lis2):
    if lis1[i]<lis2[j]:
     merge_list.append(lis1[i])
     i+=1
    else:
     merge_list.append(lis2[j])
     j+=1
  while j< len(lis2):
    merge_list.append(lis2[j])
    j+=1
  while i<len(lis2):
   merge_list.append(lis1[i])
   i+=1
  return merge_list

In [ ]:
##17.write a code to merge two sorted list into single sorted listt
lis1=[1,2,3]
lis2=[4,5,6]
merge_sorted_list(lis1,lis2)

[1, 2, 3, 4, 5, 6]

In [ ]:
##18.write a code to find the interesection of two given list.
lis1=[1,2,3,4,5]
lis2=[3,4,7,8]
lis=[]
for i in lis1:
  if i in lis2:
    lis.append(i)
lis

[3, 4]

In [ ]:
##19.create a code to find the union of two list without duplicates.
lis1=[1,2,3,4,5]
lis2=[6,7,8,3,4]
lis=[]
for i in lis1:
  if i not in lis2:
    lis.append(i)
for j in lis2:
  j not in lis1
  lis.append(j)
print(lis)

[1, 2, 5, 6, 7, 8, 3, 4]

In [ ]:
##20write a code to shuffle a given list randomly without using any built-in shuffle functions.
import random

def shuffle_list(arr):
    n = len(arr)
    for i in range(n - 1, 0, -1):
        j = random.randint(0, i)
        arr[i], arr[j] = arr[j], arr[i]
    return arr

In [ ]:
shuffle_list(arr=[1,2,3,4,5,6,7,8])

[8, 3, 1, 7, 4, 2, 5, 6]

In [ ]:
## 21. write a code  that takes two tuple as input and return a new tuple containing a elements that are common to both input tuples
tup=()
tup1=(1,2,3,4)
tup2=(2,3,4,7)
common=tuple(i for i in tup1 if i in tup2)
print(common)

(2, 3, 4)

In [ ]:
## create a code that prompts the user to enter two set of integers seprated by commas.then print the intersection of these two sets.
a=(input("enter  first set of integer "))
b=(input("enter second set of integer"))
set1=set(map(int,a.split(',')))
set2=set(map(int,b.split(',')))
intersection=set1&set2
print(intersection)

enter  first set of integer 1,2,3,4
enter second set of integer3,4,5
{3, 4}

In [ ]:
##23 write a code to concatentate two tuple.the function should take two tuple as input and return a new tuple containing elelment form both tupple.
def concatentate(tup1,tup2):
  new_tup=tup1+tup2
  return new_tup

In [ ]:
concatentate(tup1=(1,2,3,4),tup2=(5,6,7,8))

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
##24. develop a code that prompts the user to input two sets of string.then,print the elment that are present in first not in second set.
a=input("enter the first set of string")
b=input("enterthe second set of string")
print(f"the first set of string is:{a}")

enter the first set of stringhe is a good person
enterthe second set of stringhe is form mumbai
the first set of string is:he is a good person

In [ ]:
## 25.create a code that takes a tuple and two integers as input the function should return new tuple containing element from the original tuple with
## specified range of indices.
def new_tuple(tup,a,b):

  return(tup[2:4],a,b)

In [ ]:
new_tuple(tup=(1,2,3,4,5),a=5,b=7)

((3, 4), 5, 7)

In [ ]:
##26. write a code that prompts a user to input two set characters,then print union of these two set
a=input("enter the set of character")
b=input("enter the set of characters")
set1=set(map(str,a.split(',')))
set2=set(map(str,b.split(',')))
c=set1|set2
print(f"union is:{c}")

enter the set of characterq,w,e,r
enter the set of charactersa,b,c,e
union is:{'r', 'e', 'c', 'q', 'b', 'a', 'w'}

In [ ]:
##27.develop a code that takes tuple of integers as input.the function should return the maximum and minmium value from the tuple using tuple unpacking.
def max_min(tup):
  a,b,c,d,e=tup
  max_value=max(a,b,c,d,e)
  min_value=min(a,b,c,d,e)
  return print(f" maximum value={max_value}\nminimum value={min_value}")

In [ ]:
max_min(tup=(34,45,65,78,33))

 maximum value=78
minimum value=33

In [ ]:
##28. create a code that define two set of integers.then print the union,intersection, and differences of these two set.
set1={1,2,3,4,5}
set2={4,5,6,7,8}
union=set1|set2
intersection=set1&set2
diff=set1-set2
print(f"union{union}\n intersection{intersection}\ndifference {diff}")

union{1, 2, 3, 4, 5, 6, 7, 8}
 intersection{4, 5}
difference {1, 2, 3}

In [ ]:
##29. write a code that take a tuple and element as input the function should return count of occurence of the given element in tuple
def count_element(tup,element):
  count=0
  for i in tup:
    if i==element:
      count+=1
  return count

In [ ]:
count_element(tup=(1,2,3,4,4,5,4,6,7,4),element=4)

4

In [ ]:
count_element(tup=(tuple(input())),element=int(input()))

1,2,3,4,5,6,4
4

2

In [ ]:
## 30 develop a code that prompts the user to input two set of strings.then,print symmetric differnce of these two sets

In [ ]:
set1=set(input("enter the string first"))
set2=set(input("enter the string second"))
sym_difference=set1^set2
print(sym_difference)

enter the string firsthe id form delhi
enter the string secondhe is playing a badmination
{'t', 'f', 'b', 'y', 'p', 's', 'r', 'n', 'g', 'a'}

In [ ]:
##Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
##and the values are the frequencies of those words in the input list
def word_frequency(lis):
  dict2={}
  for i in lis:
    if i not in dict2:
      dict2[i]=1
    else:
      dict2[i]+=1
  return dict2

In [ ]:
word_frequency(lis=["apple","banana","orange","mango","apple","mango","orange"])

{'apple': 2, 'banana': 1, 'orange': 2, 'mango': 2}

In [ ]:
## write a code that takes two dictionary  as input and merge them into single dictionary.if there are commmon keys,the value should be added together.

In [ ]:
def merge_dict(dict1,dict2):
  dict3={}
  dict3=dict1.copy()
  for i in dict2:
    if i in dict3:
      dict3[i]+=dict2[i]
    else:
      dict3[i]=dict2[i]
  return dict3

In [ ]:
merge_dict(dict1={"a":1,"b":2,"c":3},dict2={"a":1,"d":4,"e":5})

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
##33.write a code to access a value in nested dictionary.the function should take the dictionary and a list of keys as input,return the corresponding
## value.if any of the key do not exist dictionary,the function should return none.
def nested_dictionary():
  for i

In [ ]:
##34. write a code that takes dictioinary as input and return a sorted version of it based on the values.you can choose wheather to sort in ascending
## or desceding order
def sort_dict(dict1):
  sorted_dict=dict(sorted(dict1.items(),key=lambda a:a[1]))
  return sorted_dict

In [ ]:
dict1={"a":22,"b":12,"c":18}
sort_dict(dict1)

{'b': 12, 'c': 18, 'a': 22}

In [ ]:
##35. write a  code that inverts a dictionary,swapping keys and values.ensure that the inverted dictionary correctly handles cases where multiple key
## have the same values by sorting the keys as list in the inverted dictionary.
def invert_dict(dict1):
  inverted_dict={}
  for key,value in dict1.items():
    if value  in inverted_dict:
      inverted_dict[value].append(key)
    else:
        inverted_dict[value]=[key]
  for value in inverted_dict:
    inverted_dict[value].sort()
  return inverted_dict

In [ ]:
invert_dict({"a":9,"b":2,"c":3,"d":9})

{9: ['a', 'd'], 2: ['b'], 3: ['c']}